@font-face {
  font-family: "Inter";
  src: url("./public/fonts/Inter-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./public/fonts/Inter-Bold.otf") format("opentype");
  font-weight: bold;
}

:root {
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --text-primary: #111111;
  --text-secondary: #707070;
  --background: #ffffff;
  --social-box-bg: #f3f3f3;
  --hover-border: #929292;
}

body {
  color: var(--text-primary);
  background-color: var(--background);
  font-family: "Inter", Fallback, sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 48rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.header {
  display: flex;
}

.left-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-social-links {
  display: flex;
  justify-content: space-between;
  gap: 0.1rem;
  transition: all 0.25s var(--ease-out-cubic);
}

.header-social-icon {
  width: 1.3rem;
  height: 1.3rem;
}

.header-social-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: inherit;
  background: var(--social-box-bg);
  border: 0.125rem solid var(--social-box-bg);
  padding: 0.5rem 2rem;
  border-radius: 0.6rem;
  transition: all 0.25s var(--ease-out-cubic);
}

.header-social-button:hover {
  border-color: var(--hover-border);
  padding-right: 2.9rem;
}

.header-social-button::after {
  content: "↗";
  font-weight: bold;
  position: absolute;
  right: 1.2rem;
  top: 0.3rem;
  transform: translateX(-0.5rem) translateY(0.5rem);
  transition: all 0.25s var(--ease-out-cubic);
  opacity: 0;
}

.header-social-button:hover::after {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
